{% extends 'edc_subject_dashboard/dashboard/appointments.html' %}
{% load edc_subject_dashboard_extras %}
{% load cancer_dashboard_extras %}


{% block appointment_actions %}
    {% if wrapped.appt_status == IN_PROGRESS_APPT %}
        {% with wrapped.wrapped_visit as visit %}
            {% if visit.id %}
                <a id="visit_report_btn_{{ wrapped.visit_code }}_{{ wrapped.visit_code_sequence }}"
                   role="button" class="btn btn-sm btn-default"
                   href="{{ visit.href }}">
                    <i class="fa fa-pencil-alt fa-sm"
                       aria-hidden="true"></i> Visit Report
                    {% if wrapped.object.visit.reason == 'Missed quarterly visit' %}
                        (MISSED CALL OR MISSED VISIT){% endif %}
                </a>
            {% endif %}
            {% forms_button wrapper=wrapped visit=visit %}

        {% endwith %}
    {% else %}
        {% comment %}
            This link goes to change the appointment instance
            for user to set appt_status == IN_PROGESS_APPT.
        {% endcomment %}
        {% appointment_button wrapped %}
    {% endif %}
{% endblock %}

{% block complete_appt %}
    {% if wrapped.appt_status == COMPLETE_APPT %}
        <a id="review_btn_{{ wrapped.visit_code }}_{{ wrapped.visit_code_sequence }}"
           role="button" class="btn btn-sm btn-default"
           href="{{ wrapped.forms_url }}?edc_readonly=1">
            <i class="fa fa-pencil-alt fa-sm"
               aria-hidden="true"></i> Review
        </a>
    {% endif %}
{% endblock %}
